{% extends "templates/base.html" %}
{% block title %}{{ 'Hackathons' }}{% endblock %}
{% from "www/hackathons/macros/card.html" import hackathon_card %}
{% from "www/hackathons/macros/card.html" import null_card %}
{% block head_include %}
<meta name="description" content="{{ 'Conferences' }}" />
<meta name="keywords" content="An app that supports Communities." />
<style>
	section {
		padding: 5rem 0 5rem 0;
	}
</style>
{% endblock %}

{% block content %}
<section class="top-section" style="padding: 6rem 0rem;">
	<div class='container pb-5'>
		<h1>{{ 'Conferences' }}</h1>
	</div>
	<div class='container'>
		<div class="row mt-5">
			{% for conference in conferences %}
			<div class="col-sm-4 mb-4 text-left">
				<a href="{{ conference.live_stream_url }}" class="no-decoration no-underline">
				<div class="card h-100">
					<div class='card-body'>
						<h5 class='card-title'>{{ conference.name }}</h5>
					</div>
				</div>
				</a>
			</div>
			{% endfor %}
			{% if conferences %}
			{% for n in range( (3 - (conferences|length)) %3) %}
			{{ null_card() }}
			{% endfor %}
			{% endif %}
		</div>
	</div>
</section>
{% endblock %}