
.heading {
  background: #eee;
  padding: 10px;
  clear: both;
  color: #212529;
  border: 1px solid #ddd;
}

.sketch-header h1 {
  font-size: 1.5em;
  margin-bottom: 0px;
}

.sketch-header {
  margin-bottom: 1em;
}

.sketch-card .sketch-title a {
  font-weight: bold;
  color: inherit;
}

.hidden {
  display: none;
}
