@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

:root {
  --c1: #fefae0;
  --c2: #264653;
  --c3: #e9c46a;
  --c4: #2a9d8f;
  --c5: #f4a261;
  --c6: #e76f51;
  --c7: #ccd5ae;
  --c8: #EEEEEE;

  --bg: var(--c1);
  --header-bg: var(--c2);
  --header-color: var(--c3);
  --tag-color: var(--c7);
  --sidebar-bg: var(--c7);

  --h-color: var(--c2);

  --text-color: #333;
  --text-color-light: #ccc;

  --cta-color: var(--c4);
  --send-message: var(--c7);
  --received-message: var(--c8);

  --primary-color: #08B74F;
}

body {
  padding: 0px;
  margin: 0px;
}

.course-header {
  margin-top: 20px;
  padding: 20px;
  background: var(--header-bg);
  color: var(--header-color);
  border-radius: 9px;
}

.course-author-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 20px;
}

.course-header h1 {
  color: inherit;
}

.course-type {
  text-transform: uppercase;
  font-size: 1.0em;
  color: var(--tag-color);
}

.sidebar {
  background: var(--sidebar-bg);
  margin: 20px 0px;
  border-radius: 10px;
  padding: 1px 20px 20px 20px;
  color: var(--text-color);
}

.sidebar h3 {
  margin-top: 20px;
  color: var(--c2);
}

.sidebar-batch {
  background: var(--sidebar-bg);
  color: var(--text-color);
  position: fixed;
  left: 0;
  height: 100%;
}

.sidebar-batch a {
  padding: 16px 8px 8px 16px;
  display: block;
}

.instructor {
  padding: 10px;
}

.instructor-title {
  font-weight: bold;
}

.instructor-subtitle {
  font-size: 0.8em;
  color: var(--text-color);
}

.sidebar .notice {
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed var(--text-color);
}

.sidebar .notice a {
  color: inherit;
  text-decoration: underline;
}

.course-details {
  margin: 20px 0px;
}

.course-details h2 {
  color: var(--h-color);
  font-size: 1.4em;
  font-weight: bold;
  margin: 20px 0px 10px 0px;
}

.chapter-plan {
  border-radius: 10px;
  margin: 20px 0px;
  padding: 20px;
  border: 1px solid #ddc;
  background: white;
}

.chapter-plan h3 {
  font-size: 1.1em;
  font-weight: bold;
}

.chapter-number {
  background: var(--text-color);
  color: white;
  border-radius: 50%;
  height: 24px;
  min-width: 24px;
  align-items: center;
  padding: 2px 8px 2px 8px;
  margin-right: 5px;
}

.chapter-description {
  margin: 20px 0px;
}

.lessons {
  padding-left: 20px;
}
.lesson {
  margin: 5px 0px;
  font-weight: bold;
}

.batch {
  border-radius: 10px;
  margin: 10px 0px;
  background: white;
  border: 1px solid #ddc;
}

.batch-details {
  padding: 20px;
}

.batch .cta {
  margin-top: 10px;
  padding: 10px;
  min-height: 28px;
  text-align: right;
  border-top: 1px solid #ddc;
}

.batch .cta button {
  background: var(--cta-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.batch .right {
  float: right;
}

img.profile-photo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.lesson-type {
  padding-right: 5px;
}

.preview-video {
  margin: 20px 0px;
}

.preview-video iframe {
  max-width: 100%
}


/* override style of base */

.message {
  border: 1px dashed var(--text-color);
  padding: 20px;
  border-radius: 10px;
}

.dashboard__profile {
  width: 150px;
  height: 155px;
  border-radius: 50%;
}

.dashboard__profileSmall {
  width: 59px;
  height: 57px;
  border-radius: 50%;
}

.dashboard__abbr {
  font-size: 50px;
  width: 155px;
  height: 155px;
  border-radius: 50%;
}

.dashboard__abbrSmall {
  font-size: 20px;
  width: 59px;
  height: 57px;
  border-radius: 50%;
}

.msger-inputarea {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  border-top: 2px solid #ddd;
  background: #eee;
  z-index: 1;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
}
.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-send-btn {
  margin-left: 10px;
  background: var(--cta-color);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}

.discussion {
  border: 1px solid var(--text-color);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background: var(--received-message);
  width: 50%;
  display: flex;
  flex-direction: column;
}

.is-author {
  float: right;
  background: var(--send-message);
}

.batch-header {
  position: fixed;
  top: 0;
  background: var(--bg);
  width: 100%;
}

.message-section {
  margin-left: 3%;
  display: inline-block;
  width: 95%;
}

.display-4 {
  color: #2D005A;
  font-weight: 600;
  line-height: 51px;
}