
# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
trim_trailing_whitespace = true

# Python
[*.py]
indent_size = 4

# Markdown
[*.md]
indent_size = 4
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

# HTML, CSS, javascript, JSON and YAML
[*.{html,css,js,json,yml,yaml}]
indent_size = 2
