{% extends "lms/templates/lms_base.html" %}
{% block title %}
    {{  _("Certified Participants") }}
{% endblock %}

{% block page_content %}
<main class="common-page-style">
    <div class="container">
        <header>
            <div class="page-title">
                {{ _("Certified Participants") }}
            </div>
        </header>
        {{ ParticipantsList() }}
    </div>
</main>
{% endblock %}

{% macro ParticipantsList() %}
<article class="member-parent">
    {% for participant in participants %}
    <div class="common-card-style column-card align-center">
        {{ widgets.Avatar(member=participant, avatar_class="avatar-large") }}
        <div class="bold-heading">
            {{ participant.full_name }}
        </div>
        {% for course in participant.courses %}
        <div>
            {{ course }}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</article>
{% endmacro %}