{% set schedule_docs = frappe.get_all("Schedule", fields =["speaker", "slot"]) %}
{% set slot_data = {} %}
{% for schedule in schedule_docs %}
	{% set speaker = frappe.get_doc("Speaker Registration", schedule.speaker) %}
	{% set slot = frappe.get_doc("Slot", schedule.slot) %}
	<div class="hide">{{ slot_data.setdefault(slot.date, []).append({
						"slot": slot.name,
						"start_time": slot.start_time,
						"end_time": slot.end_time,
						"speaker": speaker.name,
						"picture": speaker.picture,
						"about": speaker.about,
						"title": speaker.title,
						"full_name": speaker.full_name
					}) }}</div>
					{% endfor %}
<div class="common-page-style">
	<div class="container">
		<div class="course-content-parent">
			<div class="course-details-outline">
				<div class="course-home-outline">

					<div class="course-home-headings">
						{{title}}
					</div>
					<div class="coure-outline">
						<div>
							{% for day in slot_data %}
							<div class="small-title chapter-title" data-target="#apps-sites-and-bench"
								data-toggle="collapse" aria-expanded="false">
								<img class="chapter-icon" src="/assets/community/icons/chevron-right.svg" />
								{{day}}
							</div>
							<div class="card-divider"></div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div>
					{% for day in slot_data %}
					<div class="course-details-outline">
						<div class="course-home-headings">{{day}}</div>
						<div class="coure-outline">
							{% for slot in slot_data[day] %}
							<div class="schedule-container">
								<div class="schedule-inner-container">
								<div class="schedule-slot">
									{{ frappe.format(slot.start_time, {'fieldtype': 'Time'})}} - {{
									frappe.format(slot.end_time, {'fieldtype': 'Time'}) }}
								</div>
								<div class="schedule-title">{{slot.title}}</div>
								<span class="avatar avatar-medium avatar-medium-schedule">
									<img class="avatar-frame" src="{{slot.picture}}" /></span>
								</div>
									<div class="schedule-info">
										<p>{{slot.about}}</p>
										<span class="info-speaker-avatar">
										<span class="info-avatar avatar avatar-small">
											<img class="avatar-frame standard-image" src="{{slot.picture}}" />
										</span>
										<h6 class="info-speaker">{{slot.full_name}}</h6>
									</span>
									</div>
							</div>
							<div class="card-divider"></div>
							{% endfor %}

						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
</div>
