{% extends "templates/base.html" %}
{% block title %} {{ member.full_name }} - {{ course.title }} {% endblock %}

{% block content %}
<div class="common-page-style">
  <div class="container certificate-page">

    {% if certificate.member == frappe.session.user %}
    <a class="btn btn-default btn-sm pull-right" target="_blank" href="/api/method/frappe.utils.print_format.download_pdf?doctype=LMS%20Certificate&name={{ certificate.name }}&_lang=en">
      {{ _("Export") }}
    </a>
    {% endif %}

    <div class="breadcrumb">
        <a class="dark-links" href="/courses">{{ _("All Courses") }}</a>
        <img class="ml-1 mr-1" src="/assets/lms/icons/chevron-right.svg">
        <a class="dark-links" href="/courses/{{ course.name }}">{{ course.title }}</a>
    </div>
    {% include "lms/templates/certificate.html" %}
    <script src="/assets/lms/js/html2canvas.js"></script>

  </div>
</div>
{% endblock %}
