<div class="common-card-style">
  <div class="certificate-content">
    <div class="certificate-heading">
      Certificate of Completion
    </div>
    <div class="certificate-para">
      This is to certify that <span class="font-weight-bold">{{ student.full_name }}</span> has successfully completed
      <span class="font-weight-bold">{{ course.title }}</span> online course on
      <span class="font-weight-bold">{{ frappe.utils.format_date(certificate.issue_date, "medium") }}</span>
    </div>
    <div class="certificate-footer">
      <div>
        <span>
          Instructor:
        </span>
        <span class="font-weight-bold">
          {{ instructor.full_name }}
        </span>
      </div>
      {% if certificate.expiry_date %}
      <div>
        <span>
          Expiry Date:
        </span>
        <span class="font-weight-bold">
          {{ frappe.utils.format_date(certificate.expiry_date, "medium") }}
        </span>
      </div>
      {% endif %}
    </div>
    <img src="{{ logo }}" class="certificate-logo">
  </div>
  <div class="certificate-ribbon"></div>
</div>
<script src="/assets/community/js/html2canvas.js"></script>
