{% set last_submission = quiz.get_last_submission_details() %}
{% if last_submission %}
<div class="mb-5 pull-right">
  <div class="text-muted">Last Submitted On: {{ frappe.utils.pretty_date(last_submission.creation) }}</div>
  <div class="text-muted">Last Submission Score: {{ last_submission.score }}</div>
</div>
{% endif %}
<h3 id="title" class="mb-5">{{ quiz.title }}</h3>
<form id="quiz-form">
  {% for question in quiz.questions %}
  <div class="question mb-5" data-question="{{ question.question }}"
    data-multi="{{ question.multiple_correct_answers}}">
    <p> {{ loop.index }}. {{ question.question }}</p>
    {% set options = [question.option_1, question.option_2, question.option_3, question.option_4] %}
    {% for option in options %}
    {% if option %}
    <div class="checkbox mb-2">
      <input {% if question.multiple %} type="checkbox" {% else %} type="radio"
        name="{{ question.question | urlencode }}" {% endif %} class="option" value="{{ option | urlencode }}">
      <span class="label-area">{{ option }}</span>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
  <button class="btn btn-secondary hide mb-5" id="try-again">Try Again</button>
  <button class="btn btn-primary" id="submit-quiz">Submit</button>
  <h4 class="success-message"></h4>
  <h5 class="score text-muted"></h5>
</form>
