<div>
  {% set member = frappe.get_doc("User", reply.owner) %}
  <div class="mb-4">
    {% set member = frappe.get_doc("User", reply.owner) %}
    {{ widgets.Avatar(member=member, avatar_class="avatar-small")}}
    <a class="button-links" href="/user/{{ member.username }}">
      <span class="message-author">{{ member.full_name }}</span>
    </a>
    <span class="muted-text">{{ frappe.utils.format_datetime(reply.creation, "hh:mm a, dd MMM YYYY") }}</span>
    <a href="" class="dark-links muted-text pull-right reply" data-topic="{{ topic.name }}">Reply</a>
  </div>
  <div class="card-divider"></div>
  <div>{{ reply.reply }}</div>
</div>
