<div class="reply-card">
  {% set member = frappe.get_doc("User", reply.owner) %}
  <div class="d-flex align-items-center">
    {% set member = frappe.get_doc("User", reply.owner) %}
    {{ widgets.Avatar(member=member, avatar_class="avatar-medium")}}
    <div class="ml-2 flex-grow-1">
      <a class="button-links" href="/user/{{ member.username }}">
        <span class="muted-text">{{ member.full_name }}</span>
      </a>
      <div class="muted-text">{{ frappe.utils.format_datetime(reply.creation, "hh:mm a, dd MMM YYYY") }}</div>
    </div>

    <a href="" class="dark-links muted-text reply" data-topic="{{ topic.name }}">Reply</a>
  </div>
  <div class="card-divider mt-3"></div>
  <div>{{ reply.reply }}</div>
</div>
