{% extends "templates/base.html" %}
{% from "www/hackathons/macros/card.html" import null_card %}
{% block title %}{{ 'Courses' }}{% endblock %}
{% block head_include %}
<style>
</style>
{% endblock %}

{% block content %}
<div class="common-page-style">
  <div class="container">

    {% if live_courses | length %}
    <div class="courses-header">
      {{ _('Live Courses') }}
    </div>
    <div class="cards-parent">
      {% for course in live_courses %}
      {{ widgets.CourseCard(course=course, read_only=False) }}
      {% endfor %}
    </div>
    {% endif %}

    {% if upcoming_courses | length %}
    <div class="courses-header mt-12">
      {{ _('Upcoming Courses') }}
    </div>
    <div class="cards-parent">
      {% for course in upcoming_courses %}
      {{ widgets.CourseCard(course=course, read_only=False) }}
      {% endfor %}
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}
