{% extends "templates/base.html" %}
{% block head_include %}
<meta name="description" content="{{ 'Community' }}" />
<meta name="keywords" content="An app that supports Communities." />
{% endblock %}

{% block content %}
<div class="common-page-style">
  <div class="container profile-page">
    {{ ProfileBanner(member) }}
    {{ AboutOverviewSection(member) }}
    {{ CoursesCreated(member) }}
    {{ CoursesMentored(member) }}
    {{ CoursesEnrolled(member) }}
    {{ ProfileTabs(profile_tabs) }}
  </div>
</div>
{% endblock %}

{% macro ProfileBanner(member) %}
<div class="">
  <div class="profile-banner" style="background-image: url(/assets/community/images/profile-banner.png)">
  <div class="profile-avatar">
    {{ widgets.Avatar(member=member, avatar_class="avatar-xl") }}
    <div class="profile-name"> {{ member.full_name }} </div>
    {% if member.get_authored_courses() | length %}
    <div class="creator-badge"> Creator </div>
    {% endif %}
   </div>
  </div>
  <div class="profile-info">
    {% if member.profession %}
    <span class="profile-profession"> {{ member.profession }} </span>
    {% endif %}
    <div class="social-icons">
      {% if member.linkedin %}
      <a class="linkedin" href="{{ member.linkedin }}">
        <img src="/assets/community/images/linkedin.png">
      </a>
      {% endif %}
      {% if member.medium %}
      <a class="medium" href="{{ member.medium}}">
        <img src="/assets/community/icons/medium.svg">
      </a>
      {% endif %}
      {% if member.github %}
      <a class="github" href="{{ member.github }}">
        <img src="/assets/community/icons/github.svg">
      </a>
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}

{% macro AboutOverviewSection(member) %}
<div class="profile-parent-section">
  {% if member.bio %}
  <div class="profile-about-section">
    <div class="course-home-headings">
      About
    </div>
    <div class="common-card-style description-card">
      {{ member.bio }}
    </div>
  </div>
  {% endif %}
  <div class="course-overview-section">
    <div class="course-home-headings">
      Overview
    </div>
    <div class="common-card-style overview-card small-title">
      {% if member.get_course_membership("Student") | length %}
      <div class="overtime-item">
        <img class="icon-background mr-1" src="/assets/community/icons/user.svg" />
        {{ member.get_course_membership("Student") | length }} Enrolled
      </div>
      {% endif %}
      {% if member.get_user_reviews() | length %}
      <div class="overtime-item">
        <img class="icon-background mr-1" src="/assets/community/icons/rating.svg" />
        {{ member.get_user_reviews() | length }} Created
      </div>
      {% endif %}
      {% if member.get_course_membership("Mentor") | length%}
      <div class="overtime-item">
        <img class="icon-background mr-1" src="/assets/community/icons/calendar.svg" />
        {{ member.get_course_membership("Mentor") | length }} Mentored
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}


{% macro CoursesCreated(member) %}
{% if member.get_authored_courses() | length %}
<div class="profile-courses">
  <div class="course-home-headings">
    Courses Created
  </div>
  <div class="cards-parent">
    {% for course in member.get_authored_courses() %}
    {% set course_details = frappe.get_doc("LMS Course", course) %}
    {{ widgets.CourseCard(course=course_details) }}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endmacro %}

{% macro CoursesMentored(member) %}
{% if member.get_mentored_courses() | length %}
<div class="profile-courses">
  <div class="course-home-headings">
    Courses Mentored
  </div>
  <div class="cards-parent">
    {% for mentorship in member.get_mentored_courses() %}
    {% set course_details = frappe.get_doc("LMS Course", mentorship.course) %}
    {{ widgets.CourseCard(course=course_details) }}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endmacro %}

{% macro CoursesEnrolled(member) %}
{% if member.get_course_membership("Student") | length %}
<div class="profile-courses">
  <div class="course-home-headings">
    Courses Enrolled
  </div>
  <div class="cards-parent">
    {% for membership in member.get_course_membership("Student") %}
    {% set course_details = frappe.get_doc("LMS Course", membership.course) %}
    {{ widgets.CourseCard(course=course_details) }}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endmacro %}

{% macro ProfileTabs(profile_tabs) %}
<div>
  {% for tab in profile_tabs %}
  {% set slug = title.lower().replace(" ", "-") %}
  <div class="tab-content">
    <div class="tab-pane fade py-4 show active" role="tabpanel" id="slug">
      {{ tab.render() }}
    </div>
  </div>
  {% endfor %}
</div>
{% endmacro %}
