{% extends "templates/base.html" %}
{% from "www/hackathons/macros/card.html" import null_card %}
{% block title %}{{ 'Courses' }}{% endblock %}
{% block head_include %}
<style>
</style>
{% endblock %}

{% block content %}
<div class="common-page-style">
  <div class="container">

    {% include "school/templates/search_course/search_course.html" %}

    <div class="course-list">
      {% set title = _("Live Courses") %}
      {% set courses = live_courses %}
      {% set classes = "original-list" %}
      {% include "school/templates/course_list.html" %}

      {% set title = _("Upcoming Courses") %}
      {% set courses = upcoming_courses %}
      {% set classes = "original-list mt-10" %}
      {% include "school/templates/course_list.html" %}
    </div>

  </div>
</div>
{% endblock %}
