{% extends "templates/base.html" %}
{% from "www/macros/livecode.html" import LiveCodeEditor, LiveCodeEditorJS %}

{% block title %}Sketches{% endblock %}
{% block head_include %}
	<meta name="description" content="Sketches" />
	<meta name="keywords" content="sketches" />
  <link rel="stylesheet" href="/assets/css/lms.css">
{% endblock %}

{% block content %}
<section class="top-section" style="padding: 1rem 0rem;">
	<div class='container pb-5'>
		<h1>Recent Sketches</h1>

    <a href="/sketches/new">Create a New Sketch</a>
	</div>
	<div class='container'>
    <div class="row">
      {% for sketch in sketches %}
        <div class="col-md-3">
          {{ widgets.SketchTeaser(sketch=sketch) }}
        </div>
      {% endfor %}
    </div>
	</div>
</section>
{% endblock %}
