<p>
    {{ _("Dear ") }} {{ student_name }},
</p>
<br>
<p>
    {{ _("We are pleased to inform you that you have been enrolled in our upcoming batch. Congratulations!") }}
</p>
<br>

<p>
    <b>{{ _("Batch Start Date:") }}</b> {{ frappe.utils.format_date(start_date, "medium") }}
</p>

{% if medium %}
<p>
    <b>{{ _("Medium:") }}</b> {{ medium }}
</p>
{% endif %}

<p>
    <b>{{ _("Timings:") }}</b> {{ frappe.utils.format_time(start_time, "hh:mm a") }}
</p>
<br>
<p>
    {{ _("Visit the following link to view your ") }}
    <a href="/lms/batches/{{ name }}">{{ _("Batch Details") }}</a>
</p>
<p>
    {{ _("If you have any questions or require assistance, feel free to contact us.") }}
</p>
<br>
<p>
    {{ _("Best Regards") }}
</p>

