<div class="reply-card">
  {% set member = frappe.get_doc("User", reply.owner) %}
  <div class="d-flex align-items-center muted-text">
    {% set member = frappe.get_doc("User", reply.owner) %}
    {{ widgets.Avatar(member=member, avatar_class="avatar-small")}}
    <a class="button-links ml-2" href="/user/{{ member.username }}">
      {{ member.full_name }}
    </a>
    <div class="ml-2 frappe-timestamp" data-timestamp="{{ reply.creation }}"> just now </div>
  </div>
  <div class="card-divider mt-3"></div>
  <div class="reply-text">{{ reply.reply }}</div>
</div>
