<div>
    <h3 class="section-title">{{ _(title) }}</h3>
    {% if subtitle %}
    <p> {{ _(subtitle) }} </p>
    {% endif %}
    <div class="cards-parent mt-10">
        {% for course_row in courses %}
        {% set course = frappe.db.get_value("LMS Course", course_row.course,
        ["name", "upcoming", "title", "image", "enable_certification", "paid_certificate", "price_certificate", "currency"], as_dict=True) %}
        {{ widgets.CourseCard(course=course, read_only=False) }}
        {% endfor %}
    </div>
    <a class="d-flex justify-content-center align-items-center mt-12" href="/courses">
        <span>{{ _("Explore More") }}</span>
    </a>
</div>
