{% extends "templates/base.html" %}
{% from "www/hackathons/macros/card.html" import null_card %}
{% block title %}{{ _(job.job_title) }}{% endblock %}

{% block content %}

<div class="common-page-style">
  <div class="container">
    {{ BreadCrumb(job) }}
    <div class="common-card-style thread-card">
      <div class="d-flex">
        <div class="avatar avatar-large" title="{{ job.company_name}}">
          <span class="avatar-frame company-logo" style="background-image: url( {{ job.company_logo | urlencode }} );"></span>
        </div>
        <div class="job-card-info">
          <span class="d-flex mb-1">
            <div class="course-card-pills">{{ _(job.type) }}</div>
            <div class="course-card-pills">{{ job.location }}</div>
          </span>
          <div class="">
            <div class="card-heading">{{ _(job.job_title) }}</div>
            <a class="dark-links" href="{{ job.company_website }}">{{ job.company_name }}</a>
          </div>
        </div>
        <div>
          <div class="small">Posted On: {{ frappe.utils.format_date(job.creation, "medium") }}</div>
          <a class="pull-right mt-3" href="/job-opportunity/{{ job.name }}">Edit</a>
        </div>

      </div>

      <div class="mt-5">
        <div>{{ _(job.description) }}</div>
        <a class="button is-primary mt-5" href="{{ job.application_link }}">{{ _("Apply Now") }}</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% macro BreadCrumb(job) %}
<div class="breadcrumb">
  <a class="dark-links" href="/jobs">{{ _("Job Openings") }}</a>
  <img class="ml-1 mr-1" src="/assets/school/icons/chevron-right.svg">
  <span class="muted-text">{{ _(job.job_title) }}</span>
</div>
{% endmacro %}
