<h3 class="section-title text-center mb-10">{{ _(title) }}</h3>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
    <div class="carousel-inner">

        {% for testimonial_row in testimonials_table %}
        {% set review = frappe.db.get_value("LMS Course Review", testimonial_row.testimonials, ["owner", "review"], as_dict=True) %}
        {% set member = frappe.db.get_value("User", review.owner, ["name", "username", "full_name", "user_image", "headline"], as_dict=True) %}
        <div class="testimonial carousel-item {% if loop.index == 1 %} active {% endif %} ">
            {{ widgets.Avatar(member=member, avatar_class="avatar-large") }}
            <div class="testimonial-content">
                “{{ review.review }}”
            </div>
            <div class="testimonial-by">
                {{ member.full_name }}
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
