{% macro MentorsSection(mentors, is_mentor, course_name) %}
  <h3>Mentors</h3>
  {% for m in mentors %}
  <div class="instructor">
      <div class="instructor-title">{{m.full_name}}</div>
      <div class="instructor-subtitle">Mentored {{m.get_batch_count()}} batches</div>
  </div>
  {% endfor %}
  {% if not is_mentor %}
  <div id="mentor-request" class="notice">
      Interested to become a mentor?

      <div><a id="apply-now" data-course="{{course_name | urlencode}}" href="">Apply Now!</a></div>
  </div>
  <div id="already-applied" class="notice hide">
    You've applied to become a mentor for this course. Your request is currently under review.

    If you are not any more interested to mentor this course, you can <a id="cancel-request" data-course="{{course_name | urlencode}}" href="">cancel your application</a>.
  </div>
  {% endif %}
{% endmacro %}
