<div>
	{% set site_link = "<a href='" + site_url + "'>" + site_name + "</a>" %}
	<p>{{_("Hi,")}}</p>
	<p>{{_("Welcome to {0}!").format(site_name)}}</p>
	<p>Click on the link below to complete your sign up and set a new password</p>
	<p style="margin: 15px 0px;">
		<a href="{{ signup_form_link }}" rel="nofollow" class="btn btn-primary">{{ _("Complete Sign Up") }}</a>
	</p>
	<br>
	<p>
		{{_("You can also copy-paste following link in your browser")}}<br>
		<a href="{{ signup_form_link }}">{{ site_url }}{{ signup_form_link }}</a>
	</p>
	<br>
	<p>{{ _("Thanks and Regards") }},</p>
	<p>{{site_name}}</p>
</div>
