<div>
    <p>{{ _('Hi') }} {{ billing_name }},</p>
    <br>
    <p>{{ _('We noticed that you started enrolling in the') }} {{ type }} {{ title }} {{ _('but didn’t complete your payment') }}.</p>
    <br>
    <p>
        {{ _("We have a limited number of seats, and they won't be available for long!")}}
    </p>
    <br>
    <p>
        {{ _("Don’t miss this opportunity to enhance your skills. Click below to complete your enrollment") }}:
    </p>
    <br>
    <p>
        <a href="{{ link }}">👉 {{ _("Complete Your Enrollment") }}</a>
    </p>
    <br>
    <p>
        {{ _("If you have any questions or need assistance, feel free to reach out to our support team.") }}
    </p>
    <br>
    <p>
        {{ _("Looking forward to seeing you enrolled!") }}
    </p>
</div>