<div class="common-card-style member-card">
  {{ widgets.Avatar(member=member, avatar_class=avatar_class) }}
  <div class="bold-title mt-4">
    {{ member.full_name }}
  </div>

  {% if member.headline %}
  <div> {{ member.headline }} </div>
  {% endif %}

  {% set course_count = get_authored_courses(member.name, True) | length %}
  {% if show_course_count and course_count > 0 %}
  {% set suffix = "Courses" if course_count > 1 else "Course" %}
  <div class="">
    Created {{ course_count }} {{ suffix }}
  </div>
  {% endif %}
  <a class="stretched-link" href="{{ get_profile_url(member.username) }}"></a>
</div>
