{% extends "lms/templates/lms_base.html" %}
{% block title %}
	{{ student.first_name }}'s {{ _("Progress") }}
{% endblock %}


{% block page_content %}
<div class="common-page-style">
	{{ Header() }}
	<div class="container">
		{{ Progress(class_info, student) }}
	</div>
</div>
{% endblock %}

{% macro Header() %}
<header class="sticky mb-5">
	<div class="container">
		<div class="edit-header">
			<div>
				<div class="page-title">
					{{ _("{0}").format(student.full_name) }}
				</div>
				<div class="vertically-center">
					<a class="dark-links" href="/classes">
						{{ _("All Classes") }}
					</a>
					<img class="icon icon-sm mr-0" src="/assets/lms/icons/chevron-right.svg">
					<a class="dark-links" href="/classes/{{ class_info.name }}">
						{{ class_info.name }}
					</a>
					<img class="icon icon-sm mr-0" src="/assets/lms/icons/chevron-right.svg">
					<span class="breadcrumb-destination">
						{{ _("Student Progress").format(student.full_name) }}
					</span>
				</div>
			</div>

			<div class="align-self-center">
				<a class="btn btn-default btn-sm" href="/users/{{ student.username }}">
					{{ _("View Profile") }}
				</a>
				{% if student.name == frappe.session.user %}
				<button class="btn btn-default btn-sm btn-schedule-eval ml-2">
					{{ _("Schedule Evaluation") }}
				</button>
				{% endif %}
				{% if is_moderator %}
				<a class="btn btn-primary btn-sm btn-evaluate ml-2" href="/evaluation/new?member={{student.name}}&date={{frappe.utils.getdate()}}&class_name={{class_info.name}}">
					{{ _("Evaluate") }}
				</a>
				{% endif %}
			</div>
		</div>
	</div>
</header>
{% endmacro %}


{% macro Progress(class_info, student) %}
	{{ UpcomingEvals(upcoming_evals) }}
	{{ Assessments(class_info, student) }}
{% endmacro %}

{% macro UpcomingEvals(upcoming_evals) %}
<div class="mb-8">
	{% include "lms/templates/upcoming_evals.html" %}
</div>
{% endmacro %}

{% macro Assessments(class_info, student) %}
<div class="mb-8">
	{% include "lms/templates/assessments.html" %}
</div>

{% endmacro %}

{%- block script %}
	{{ super() }}
	<script>
		frappe.boot.user = {
			"can_create": [],
			"can_select": ["LMS Course"],
			"can_read": ["LMS Course"]
		};
		let courses = {{ courses | json }};
		let class_name = "{{ class_info.name }}";
	</script>
	{{ include_script('controls.bundle.js') }}
{% endblock %}