{% extends "templates/base.html" %}
{% block title %}About{% endblock %}
{% block head_include %}
<meta name="description" content="Courses" />
<meta name="keywords" content="" />

<link rel="stylesheet" href="/assets/frappe/css/font-awesome.css">
{% endblock %}

{% block content %}
<div class="container">
  {{ widgets.BatchTabs(course=course, batch=batch) }}
  <div class="tab-content" id="about">
    {{ CourseBasicDetail(course)}}
    <div class="d-flex align-items-center">
      <div class="col-lg-4 col-md-12">
        <div class="sidebar">
          {{ widgets.InstructorSection(instructor=course.get_instructor()) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% macro CourseBasicDetail(course) %}
<h2>{{course.title}}</h2>
<div class="course-description">
  {{course.short_introduction}}
</div>
{% if course.video_link %}
<div class="preview-video">
  <iframe width="560" height="315" src="{{course.video_link}}" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
{% endif %}
<h2>About the Course</h2>
<div>{{frappe.utils.md_to_html(course.description)}}</div>
{% endmacro %}
