{% extends "templates/base.html" %}
{% from "www/macros/common_macro.html" import InstructorsSection, MentorsSection %}

{% block title %}About{% endblock %}
{% block head_include %}
<meta name="description" content="Courses" />
<meta name="keywords" content="" />

<link rel="stylesheet" href="/assets/frappe/css/font-awesome.css">
{% endblock %}

{% block content %}
<div class="container">
  {{ widgets.BatchTabs(course=course, batch=batch) }}
  <div class="tab-content" id="about">
    {{ CourseBasicDetail(course)}}
    {{ InstructorsSection(course.get_instructor()) }}
    {{ BatchDetails(batch)}}
  </div>
</div>
{% endblock %}

{% macro CourseBasicDetail(course) %}
<h2>{{course.title}}</h2>
<div class="course-description">
  {{course.short_introduction}}
</div>
{% if course.video_link %}
<div class="preview-video">
  <iframe width="560" height="315" src="{{course.video_link}}" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
</div>
{% endif %}
<h2>About the Course</h2>
<div>{{frappe.utils.md_to_html(course.description)}}</div>
{% endmacro %}

{% macro BatchDetails(batch) %}
<h2>About the Batch</h2>

<div class="batch">
  <div class="batch-details">
    <div>Session every {{batch.sessions_on}}</div>
    <div>{{frappe.utils.format_time(batch.start_time, "short")}} -
      {{frappe.utils.format_time(batch.end_time, "short")}}
    </div>
    <div>Starting {{frappe.utils.format_date(batch.start_date, "medium")}}</div>
    <div class="course-type" style="color: #888; padding: 10px 0px;">mentors</div>

    {% for m in batch.get_mentors() %}
    <div>
      {{ widgets.Avatar(member=m, avatar_class="avatar-medium" ) }}
      <span class="instructor-title">{{m.full_name}}</span>
    </div>
    {% endfor %}
  </div>
</div>
{% endmacro %}
