{% extends "templates/base.html" %}
{% from "www/macros/livecode.html" import LiveCodeEditorJS, LiveCodeEditor with context %}
{% block title %}{{ lesson.title }}{% endblock %}

{% block head_include %}
<meta name="description" content="{{lesson.title}} - {{course.title}}" />
<meta name="keywords" content="{{lesson.title}} - {{course.title}}" />
<style>
</style>

<link rel="stylesheet" href="/assets/frappe/css/font-awesome.css">
<link rel="stylesheet" href="{{ livecode_url }}/static/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/assets/css/lms.css">
<link rel="stylesheet" href="/assets/frappe/css/hljs-night-owl.css">

<script src="{{ livecode_url }}/static/codemirror/lib/codemirror.js"></script>
<script src="{{ livecode_url }}/static/codemirror/mode/python/python.js"></script>
<script src="{{ livecode_url }}/static/codemirror/keymap/sublime.js"></script>

<script src="{{ livecode_url }}/static/codemirror/addon/edit/matchbrackets.js"></script>
<script src="{{ livecode_url }}/static/codemirror/addon/comment/comment.js"></script>
{% endblock %}


{% block content %}

<div class="container">
  {{ widgets.BatchTabs(course=course, batch=batch) }}
  <div class="lesson-page">

    <h2 class="title {% if course.is_mentor(frappe.session.user) %} is_mentor {% endif %}" data-name="{{ lesson.name }}">{{ lesson.title }}</h2>

    {% for s in lesson.get_sections() %}
    <div class="section section-{{ s.type }}">
      {{ render_section(s) }}
    </div>
    {% endfor %}

    {{ pagination(prev_chap, prev_url, next_chap, next_url) }}
  </div>
</div>
{% endblock %}


{% macro render_section(s) %}
{% if s.type == "text" %}
{{ render_section_text(s) }}
{% elif s.type == "example" or s.type == "code" %}
{{ LiveCodeEditor(s.name,
          code=s.get_latest_code_for_user(),
          reset_code=s.contents,
          is_exercise=False)
    }}
{% elif s.type == "exercise" %}
{{ widgets.Exercise(exercise=s.get_exercise())}}
{% else %}
<div>Unknown section type: {{s.type}}</div>
{% endif %}
{% endmacro %}

{% macro render_section_text(s) %}
<div class="row">
  <div class="col-md-9">
    {{ frappe.utils.md_to_html(s.contents) }}
  </div>
</div>
{% endmacro %}

{% macro pagination(prev_chap, prev_url, next_chap, next_url) %}
<div class="lesson-pagination">
  {% if prev_url %}
  <span>
    Prev: <a href="{{prev_url}}">{{prev_chap}}</a>
  </span>
  {% endif %}
  {% if next_url %}
  <span class="pull-right">
    Next: <a href="{{next_url}}">{{next_chap}}</a>
  </span>
  {% endif %}
  <div style="clear: both;"></div>
</div>
{% endmacro %}

{%- block script %}
{{ super() }}
{{ LiveCodeEditorJS() }}

  <script type="text/javascript">
    $(function() {
      var batch_name = "{{ batch.name }}";
      var lesson_name = "{{ lesson.name }}";

      frappe.call("community.lms.api.save_current_lesson", {
        "batch_name": batch_name,
        "lesson_name": lesson_name
      })
    })
  </script>

{%- endblock %}
