{% extends "templates/base.html" %}

{% block title %}Members{% endblock %}
{% block head_include %}
<meta name="description" content="Courses" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="/assets/frappe/css/font-awesome.css">
{% endblock %}

{% block content %}

<div class="container">
  {{ widgets.BatchTabs(course=course, membership=membership) }}
  {{ MembersList(members)}}
</div>
{% endblock %}


{% macro MembersList(members) %}
<div class="mt-5">
  {% for member in members %}
  <div class="d-flex align-items-center">
    {{ widgets.Avatar(member=member, avatar_class="avatar-large") }}
    <div class="d-flex flex-column ml-2">
      <div class="d-flex">
        <a class="anchor_style ml-2" href="/{{member.username}}">
          <h3>{{ member.full_name }}</h3>
        </a>
        {% if course.is_mentor(member.name) %}
        <div class="badge badge-success ml-2 align-self-start">Mentor</div>
        {% endif %}
      </div>
      {% if member.bio %}
      <i class="ml-2">{{member.bio}}</i>
      {% endif %}
    </div>
  </div>
  {% if loop.index != member_count %}
  <hr>
  {% endif %}
  {% endfor %}
</div>
{% endmacro %}
