{% extends "templates/base.html" %}
{% from "www/macros/sidebar.html" import Sidebar %}
{% from "www/macros/common_macro.html" import BatchHearder %}

{% block title %}Members{% endblock %}
{% block head_include %}
<meta name="description" content="Courses" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="/assets/frappe/css/font-awesome.css">
{% endblock %}

{% block content %}
{{ Sidebar(course, batch) }}

<div class="container">
  {{ BatchHearder(course.title, member_count)}}
  {{ MembersList(members)}}
</div>
{% endblock %}


{% macro MembersList(members) %}
<div class="mt-5">
  {% for member in members %}
  <div class="d-flex align-items-center">
    <div>
      {{ widgets.Avatar(member=member, avatar_class="avatar-medium") }}
    </div>
    <div class="ml-5 mr-5">
      <a href="/{{member.username}}">{{ member.full_name }}</a>
    </div>
    {% if course.is_mentor(member.name) %}
    <div class="badge badge-success">Mentor</div>
    {% endif %}
  </div>
  <hr>
  {% endfor %}
</div>
{% endmacro %}
