{% extends "templates/base.html" %}

{% block title %}Members{% endblock %}
{% block head_include %}
<meta name="description" content="Courses" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="/assets/frappe/css/font-awesome.css">
{% endblock %}

{% block content %}

<div class="container">
  {{ widgets.BatchTabs(course=course, batch=batch) }}
  {{ MembersList(members)}}
</div>
{% endblock %}


{% macro MembersList(members) %}
<div class="mt-5">
  {% for member in members %}
  <div class="row mb-5">
    <div>
      {{ widgets.Avatar(member=member, avatar_class="avatar-large") }}
    </div>
    <div class="col">
      <div class="row ml-1">
        <a class="anchor_style" href="/{{member.username}}">
          <h3>{{ member.full_name }}</h3>
        </a>
        {% if course.is_mentor(member.name) %}
        <div class="ml-2">
          <div class="badge badge-success">Mentor</div>
        </div>
        {% endif %}
      </div>
      {% if member.bio %}
      <i>{{member.bio}}</i>
      {% endif %}
    </div>
  </div>
  {% if loop.index != member_count %}
  <hr>
  {% endif %}
  {% endfor %}
</div>
{% endmacro %}
