{% extends "templates/base.html" %}
{% block title %}
{{ _("Dashboard")}}
{% endblock %}


{% block content %}
{{ frappe.session.user }}
<div class="common-page-style dashboard">
    <div class="container">

        {% if show_creators_section %}
        <a class="btn btn-secondary btn-sm course-creation-link" id="create-course-link" href="/courses/new-course">
            {{ _("Create a Course") }}
        </a>
        {% endif %}

        <ul class="nav" id="courses-tab">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#courses-enrolled"> {{ _("Courses Enrolled") }} </a>
            </li>

            {% if show_creators_section %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#courses-created">{{ _("Courses Created") }}
                </a>
            </li>
            {% endif %}
        </ul>

        <div class="border-bottom mb-4"></div>

        <div class="tab-content">
            <div class="tab-pane active" id="courses-enrolled" role="tabpanel" aria-labelledby="courses-enrolled">
                {% include "lms/lms/web_template/courses_enrolled/courses_enrolled.html" %}
            </div>

            {% if show_creators_section %}
            <div class="tab-pane fade" id="courses-created" role="tabpanel" aria-labelledby="courses-created">
                {% include "lms/templates/courses_created.html" %}
            </div>
            {% endif %}
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
