<div class="breadcrumb">
  {% if course %}
  <a class="dark-links" href="/courses">{{ _("All Courses") }}</a>
  <img class="ml-1 mr-1" src="/assets/lms/icons/chevron-right.svg">
  {% if lesson %}
  <a class="dark-links" href="/courses/{{ course.name }}">{{ course.title }}</a>
  <img class="ml-1 mr-1" src="/assets/lms/icons/chevron-right.svg">
  <span class="muted-text"> {{ lesson.title }}</span>
  {% else %}
  <span class="muted-text">{{ course.title }}</span>
  {% endif %}
  {% endif %}
</div>
