<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="/static/style.css" rel="stylesheet">

    <title>{% block title %}FOSS United{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-light navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/"><span>Home</span></a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="mr-auto navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="/sketches.html">
                Sketches
              </a>
            </li>
          </ul>
          <ul class="ml-auto navbar-nav">
            <!-- post login tools -->
            <li class="nav-item">
            <a class="nav-link btn-login-area" href="/login.html">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
      <h1>Lorem ipsum...</h1>
    {% endblock %}
  </body>
</html>
