@import './assets/Inter/inter.css';
@import 'frappe-ui/style.css';
@import './styles/codemirror.css';

:root {
    --primary-50: 236 253 249;
    --primary-100: 209 250 240;
    --primary-200: 167 243 228;
    --primary-300: 110 231 210;
    --primary-400: 52 211 185;
    --primary-500: 1 194 149;
    --primary-600: 0 160 123;
    --primary-700: 0 128 100;
    --primary-800: 0 101 80;
    --primary-900: 0 83 66;
    --primary-950: 0 46 38;

    --secondary-500: 18 92 162;
    /* #125CA2 */
}

.bg-surface-selected {
    background: linear-gradient(to right, rgb(var(--primary-500)), rgb(var(--secondary-500))) !important;
    color: white !important;
}

.bg-surface-selected svg {
    color: white !important;

}

.bg-surface-selected svg.custom-icon path {
    fill: white !important;
}