@import './assets/Inter/inter.css';
@import 'frappe-ui/style.css';
@import './styles/codemirror.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-50: 236 253 249;
    --primary-100: 209 250 240;
    --primary-200: 167 243 228;
    --primary-300: 110 231 210;
    --primary-400: 52 211 185;
    --primary-500: 1 194 149;
    --primary-600: 0 160 123;
    --primary-700: 0 128 100;
    --primary-800: 0 101 80;
    --primary-900: 0 83 66;
    --primary-950: 0 46 38;

    --secondary-0: 255 255 255;
    --secondary-50: 232 243 251;
    --secondary-100: 209 231 247;
    --secondary-200: 163 207 239;
    --secondary-300: 117 183 231;
    --secondary-400: 71 159 223;
    --secondary-500: 18 92 162;
    --secondary-600: 14 74 130;
    --secondary-700: 11 55 97;
    --secondary-800: 7 37 65;
    --secondary-900: 4 18 32;
    --secondary-950: 2 9 16;
}

.bg-surface-selected {
    background: linear-gradient(to right, rgb(var(--primary-500)), rgb(var(--secondary-500))) !important;
    color: white !important;
}

.bg-surface-selected svg {
    color: white !important;

}

.bg-surface-selected svg.custom-icon path {
    fill: white !important;
}

* {
    font-family: "Inter", sans-serif;
}

.sidebar {
    position: relative;
    background-color: #fff;
}

.sidebar:before {
    clear: both;
    content: '';
    display: table;
    position: absolute;
    top: -200px;
    right: -200px;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background: rgba(18, 92, 162, 0.3);
    filter: blur(240px);
}

.sidebar:after {
    clear: both;
    content: '';
    display: table;
    position: absolute;
    bottom: -200px;
    left: -257px;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background: rgba(1, 194, 149, 0.35);
    filter: blur(120px);
}

/* override breadcrumbs text size  */
.router-link-active {
    font-size: 20px !important;
    font-weight: 600 !important;
}

.codex-editor {
    z-index: 11 !important;
}

.router-link-active.breadcrumb-link {
    font-size: 14px !important;
    font-weight: 600 !important;
}
