{% extends "www/cohorts/base.html" %}
{% block title %}Manage {{ course.title  }}{% endblock %}

{% block page_content %}
<h2>{{cohort.title}} <span class="badge badge-secondary">Cohort</span></h2>

<h5>Subgroups</h5>
<ul class="list-group">
  {% for sg in cohort.get_subgroups(include_counts=True) %}
    <li class="list-group-item">
      <div>
          <a class="subgroup-title" href="/courses/{{course.name}}/subgroups/{{cohort.slug}}/{{sg.slug}}">{{sg.title}}</a>
      </div>
      <div style="font-size: 0.8em;">
        {{sg.num_mentors}} Mentors
        |
        {{sg.num_students}} Students
        |
        {{sg.num_join_requests}} Join Requests
      </div>
    </li>
  {% endfor %}
</ul>
{% endblock %}

