{% extends "templates/base.html" %} 

{% block title %} {{exhibitor.company}} {% endblock %} 

{% block head_include %}
	<link rel="stylesheet" href="/assets/frappe/css/font-awesome.css" />
{% endblock %}

{% block content %}
	<div class="common-page-style">
  		<div class="container pt-24">
			<div class="course-content-parent">
			  <div class="exhibitor-left-container">
					<div class="exhibitor-card common-card-style">
						<img class="company-logo" src="{{exhibitor.logo}}" />
					</div>
				</div>
				<div class="exhibitor-right-container">
					<span>{{exhibitor.description}}
					</span>
					<div><button class="btn btn-primary mt-5" href={{exhibitor.companys_url}}>Visit</button></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
