{% set show_search = frappe.db.get_single_value("LMS Settings", "show_search") %}
{% set search_placeholder = frappe.db.get_single_value("LMS Settings", "search_placeholder") %}

{% if show_search %}
<input class="search" id="search-course" placeholder="{{ _(search_placeholder) }}">

<div id="" class="alert alert-dismissible empty-state search-empty-state hide">
  <a href="#" class="close-search-empty-state" aria-label="close">&times;</a>
  <img class="icon icon-xl" src="/assets/frappe/images/ui-states/search-empty-state.svg">
  <div class="course-home-headings mt-4 mb-0" style="color: inherit;"> {{ _("No results found") }} </div>
  <div class="small mb-6"> {{ _("Try some other keyword or explore our list of courses.") }} </div>
</div>

<script> {% include "school/templates/search_course/search_course.js" %} </script>
{% endif %}
