<div class="form-group">
    <div class="">
        <h3> {{ _("Assignment") }} </h3>
        <div class="my-3"> {{ _(question) }} </div>
        <input class="btn btn-default btn-sm border attach-file" type="file" accept="{{ accept }}" />
        <div class="btn btn-secondary ml-2 submit-work">{{ _("Submit") }}</div>
        <div class="preview-work small hide">
        <a target="_blank"></a>
        <div class="btn btn-secondary btn-sm ml-2 clear-work">{{ _("Change") }}</div>
        </div>
    </div>
</div>
