<div class="certificate-card">
    <div class="certificate-ribbon">
        <div class="certificate-content">
            <img src="{{ logo }}" class="certificate-logo">
            <div class="mt-20">
              {{ _("This certifies that") }}
            </div>
            <div class="certificate-heading"> {{ member.full_name }} </div>
            <div class="mt-2"> {{ _("has successfully completed the course on") }} </div>
            <div class="certificate-heading"> {{ course.title }} </div>

            <div class="certificate-footer">
              {% if certificate.issue_date %}
              <div class="">
                <div class="certificate-footer-item">
                  {{ frappe.utils.format_date(certificate.issue_date, "medium") }}
                </div>
                <div>
                  {{ _("Issue date") }}
                </div>
              </div>
              {% endif %}

              {% if certificate.expiry_date %}
              <div class="">
                <div class="certificate-footer-item">
                  {{ frappe.utils.format_date(certificate.expiry_date, "medium") }}
                </div>
                <div>
                  {{ _("Expiry date") }}
                </div>
              </div>
              {% endif %}

              {% if instructor.full_name %}
              <div class="">
                <div class="certificate-footer-item">
                {{ instructor.full_name }}
                </div>
                <div>
                  {{ _("Instructor") }}
                </div>
              </div>
              {% endif %}

            </div>
        </div>
    </div>
</div>
<script src="/assets/lms/js/html2canvas.js"></script>
