
<div id="certificate-card" class="certificate-card">

    <div class="certificate-content">

        <div class="certificate-border">

            <img src="{{ logo }}" class="certificate-logo">
            <div>
                {{ _("This certifies that") }}
            </div>

            <div class="certificate-name">
                {{ member.full_name }}
            </div>
            <div>
                {{ _("has successfully completed the course on") }}
                <b> {{ course.title }} </b>
                on {{ frappe.utils.format_date(certificate.issue_date, "medium") }}.
            </div>

            <table class="certificate-footer">
                <tr>
                    {% if instructors %}
                    <td>
                        <div class="certificate-footer-item cursive-font">
                            {{ instructors }}
                        </div>
                        <hr class="certificate-divider">
                        <div class="text-center"> {{ _("Course Instructor") }} </div>
                    </td>
                    {% endif %}
                    {% if certificate.expiry_date %}
                    <td style="width: 30%;"></td>
                    <td>
                        <div class="certificate-footer-item">
                            {{ frappe.utils.format_date(certificate.expiry_date, "medium") }}
                        </div>
                        <hr class="certificate-divider">
                        <div class="text-center"> {{ _("Expiry date") }} </div>
                    </td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>
</div>
