{% extends "templates/base.html" %}

{% block content %}
	{% include "public/icons/symbol-defs.svg" %}
	{% include "lms/templates/onboarding_header.html" %}
	{% block page_content %}
		Hello, world!
	{% endblock %}
{% endblock %}

{%- block script -%}
	{{ super() }}
	{% if frappe.get_system_settings("enable_telemetry") %}
	{% set telemetry_boot_info = get_telemetry_boot_info() %}
	<script>
		const telemetry_boot_info = {{ get_telemetry_boot_info() }}
		if (telemetry_boot_info && Object.keys(telemetry_boot_info).length)
			Object.assign(frappe.boot, telemetry_boot_info)
	</script>
	{% endif %}
	<script>
		frappe.router = {
			slug(name) {
				return name.toLowerCase().replace(/ /g, "-");
			},
		};
		frappe.utils.make_event_emitter(frappe.router)
	</script>
	{{ include_script("telemetry.bundle.js") }}

{%- endblock -%}