{% if attempts_exceeded %}
<div class="">
	<h2 class="mt-3">
		{{ quiz.title }}
	</h2>
	<div class="alert alert-info medium mb-0">
		{{ _("You have already exceeded the maximum number of attempts allowed for this quiz.") }}
		{{ _("Your latest score is {0}.").format(last_attempt_score) }}
	</div>
</div>


{% else %}

<div class="">
	<div id="start-banner">
		<button class="btn btn-secondary btn-sm btn-start-quiz pull-right">
			{{ _("Start the Quiz") }}
		</button>

		<h2 class="mt-3" id="quiz-title" data-name="{{ quiz.name }}" data-max-attempts="{{ quiz.max_attempts }}">
			{{ quiz.title }}
		</h2>

		<div class="alert alert-info medium">
			{{ _("This quiz consists of {0} questions.").format(quiz.questions | length) }}
		</div>

		{% if quiz.max_attempts %}
		{% set suffix = "times" if quiz.max_attempts > 1 else "time" %}
		<div class="alert alert-info medium">
			{{ _("This quiz can only be taken {0} {1}. If you attempt the quiz but leave the page before submitting,
			the quiz will be automatically submitted.").format(quiz.max_attempts, suffix) }}
		</div>
		{% endif %}

		{% if quiz.time %}
		<div class="alert alert-info medium">
			{{ _("The quiz has a time limit. For each question you will be given {0} seconds.").format(quiz.time) }}
		</div>
		{% endif %}


	</div>

	<form id="quiz-form" class="hide">
		<div class="questions">
		{% for question in quiz.questions %}
		{% set instruction = _("Choose all answers that apply") if question.multiple else _("Choose 1 answer") %}

		<div class="question hide"
			data-question="{{ question.question }}" data-multi="{{ question.multiple }}" data-qt-index="{{ loop.index }}">
			<div class="question-header">
				<div class="question-number">{{ loop.index }}. </div>
				<div class="question-text">
					{{ frappe.utils.md_to_html(question.question) }}
				</div>
				<div class="small"> {{ instruction }} </div>
			</div>

			{% set options = [question.option_1, question.option_2, question.option_3, question.option_4] %}
			{% for option in options %}
				{% if option %}
				<div class="mb-2">
					<div class="custom-checkbox">
						<label class="quiz-label">
						<div class="course-meta font-weight-bold"> {{ convert_number_to_character(loop.index - 1) }}</div>
						<input class="option" value="{{ option | urlencode }}"
							data-correct="{{ question['is_correct_' + loop.index | string] }}" {% if question.multiple %}
							type="checkbox" {% else %} type="radio" name="{{ question.question | urlencode }}" {% endif %}>
						<div class="option-text">{{ frappe.utils.md_to_html(option) }}</div>
						</label>
					</div>

				{% set explanation = question['explanation_' + loop.index | string] %}
				{% if explanation %}
					<small class="explanation ml-10 hide">{{ explanation }}</small>
				{% endif %}
				</div>
				{% endif %}
			{% endfor %}

		</div>
		{% endfor %}
		</div>

		<div class="quiz-footer">
			<span class="font-weight-bold"> <span class="current-question">1</span> of {{ quiz.questions | length }}</span>

			{% if quiz.time %}
			<div class="progress timer w-75" data-time="{{ quiz.time }}">
				<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
					aria-valuemax="100"style="width:100%">
				</div>
			</div>
			{% endif %}


			<button class="button pull-right is-default" id="check" disabled>
				{{ _("Check") }}
			</button>
			<div class="button is-secondary hide" id="next">
				{{ _("Next Question") }}
			</div>
			<div class="button is-secondary is-default hide" id="summary">
				{{ _("Submit") }}
			</div>
			<small id="submission-message" class="font-weight-bold hide">
				{{ _("Please join the course to submit the Quiz.") }}
			</small>
			<div class="button is-secondary hide" id="try-again">
				{{ _("Try Again") }}
			</div>
		</div>
	</form>
</div>
{% endif %}
