<div class="lms-sidebar">
	<div class="mt-4">
		{% if frappe.session.user != "Guest" %}
		{% set user_info = frappe.db.get_value("User", frappe.session.user, ["full_name", "user_image", "username"], as_dict=1) %}
		<div class="sidebar-links">
			{{ widgets.Avatar(member=user_info, avatar_class="avatar-small") }}
			<a class="member-card-title mx-2 button-links" href="/users" title="{{ user_info.full_name }}">
				{{ user_info.full_name }}
			</a>
		</div>
		{% endif %}
		<a class="sidebar-links" href="/courses" title="Courses">
			<svg class="icon icon-md">
				<use href="#icon-education"></use>
			</svg>
			{{ _("Courses") }}
		</a>
		<a class="sidebar-links" href="/classes" title="Classes">
			<svg class="icon icon-md">
				<use href="#icon-add-people"></use>
			</svg>
			{{ _("Classes") }}
		</a>
		<a class="sidebar-links" href="/statistics" title="Statistics">
			<svg class="icon icon-md">
				<use href="#icon-bar-graph"></use>
			</svg>
			{{ _("Statistics") }}
		</a>
		<a class="sidebar-links" href="/jobs" title="Jobs">
			<svg class="icon icon-md">
				<use href="#icon-hr"></use>
			</svg>
			{{ _("Jobs") }}
		</a>
		<a class="sidebar-links" href="/people", title="Community">
			<svg class="icon icon-md">
				<use href="#icon-users"></use>
			</svg>
			{{ _("People") }}
		</a>
		{% if frappe.session.user != "Guest" %}
		<a class="sidebar-links" href="/?cmd=web_logout" rel="nofollow">
			<svg class="icon icon-md">
				<use href="#icon-log-out"></use>
			</svg>
			{{ _("Log out") }}
		</a>
		{% endif %}
	</div>
</div>
<script>
	frappe.ready(() => {
		mark_sidebar_link();
	});

	const mark_sidebar_link = () => {
		let link = $(`.sidebar-links[href='${window.location.pathname}']`);
		if (link.length) {
			link.css("background", "var(--gray-200)")
		}
	}
</script>
