<div class="lms-sidebar">
	<a class="sidebar-links" href="/courses" title="Courses">
		<svg class="icon icon-sm">
			<use href="#icon-education"></use>
		</svg>
		{{ _("Courses") }}
	</a>
	<a class="sidebar-links" href="/classes" title="Classes">
		<svg class="icon icon-sm">
			<use href="#icon-add-people"></use>
		</svg>
		{{ _("Classes") }}
	</a>
	<a class="sidebar-links" href="/statistics" title="Statistics">
		<svg class="icon icon-sm">
			<use href="#icon-bar-graph"></use>
		</svg>
		{{ _("Statistics") }}
	</a>
	<a class="sidebar-links" href="/jobs" title="Jobs">
		<svg class="icon icon-sm">
			<use href="#icon-hr"></use>
		</svg>
		{{ _("Jobs") }}
	</a>
	<a class="sidebar-links" href="/community", title="Community">
		<svg class="icon icon-sm">
			<use href="#icon-users"></use>
		</svg>
		{{ _("People") }}
	</a>
</div>
