<div class="mt-5">
  <a class="anchor_style" href="/courses">Courses</a> /{% if course.is_mentor(frappe.session.user) %} <a
    class="anchor_style" href="/courses/{{ course.name }}"> {{ course.title }}</a> {% else %} <span class="text-muted">
    {{ course.title }}</span> {% endif %}
  {% set all_memberships = course.get_all_memberships(frappe.session.user) %}
  {% if membership and membership.batch and all_memberships | length > 1 %}
  <a class="pull-right dropdown-item border rounded" style="width: 10rem;" href="#" id="navbarDropdown" role="button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ membership.batch_title }}
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% for data in all_memberships %}
    {% if data.batch != membership.batch %}
    <a class="dropdown-item switch-batch"
      href="/courses/{{ course.name }}/home?batch={{ data.batch }}">{{ data.batch_title }}</a>
    {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</div>
{% if not membership %}
{% set display_class = "hide" %}
{% else %}
{% set display_class = "" %}
{% endif %}

<ul class="nav nav-tabs mt-4">
  <li class="nav-item">
    <a class="nav-link" id="home" href="/courses/{{course.name}}/home{{ course.query_parameter }}">Home</a>
  </li>
  <li class="nav-item">
    {% set lesson_index = course.get_lesson_index(membership.current_lesson) if membership and membership.current_lesson
    else '1.1' %}
    <a class="nav-link" id="learn"
      href="{{ course.get_learn_url(lesson_index) }}{{ course.query_parameter }}">Lessons</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" id="schedule" href="/courses/{{course.name}}/schedule">Schedule</a>
  </li> -->
  <li class="nav-item {{ display_class }}">
    <a class="nav-link" id="members" href="/courses/{{course.name}}/members{{ course.query_parameter }}">Members</a>
  </li>
  <!-- <li class="nav-item {{ display_class }}">
    <a class="nav-link" id="discussion" href="/courses/{{course.name}}/discuss">Discussion</a>
  </li> -->
  <!-- <li class="nav-item">
    <a class="nav-link" id="about" href="/courses/{{course.name}}/about">About</a>
  </li> -->
  {% if membership and membership.batch and course.is_mentor(frappe.session.user) %}
  <li class="nav-item">
    <a class="nav-link" id="progress" href="/courses/{{course.name}}/progress{{ course.query_parameter }}">Progress</a>
  </li>
  {% endif %}
</ul>
{% block script %}
<script>
  frappe.ready(() => {
    var selector = document.querySelector(`a[href="${decodeURIComponent(window.location.pathname)}{{ course.query_parameter }}"]`)
    if (selector) {
      selector.classList.add('active');
    }
    else {
      $("#learn").addClass('active')
    }
  })
</script>
{% endblock %}
