<div class="chapter-teaser">
  <div class="teaser-body">
    <div class="chapter-title mb-5 font-weight-bold"><span class="mr-1">{{index}}.</span> {{ chapter.title }}</div>
    <div class="chapter-description">
      {{ chapter.description or "" }}
    </div>
    <div class="chapter-lessons">
      {% for lesson in chapter.get_lessons() %}
      <div class="lesson-teaser">
        {% if show_link or lesson.include_in_preview %}
        <a class="" href="{{ course.get_learn_url(course.get_lesson_index(lesson.name)) }}{{course.query_parameter}}"
          data-course="{{ course.name }}">{{ lesson.title }}</a>
        {% else %}
        <div class="no-preview" title="This lesson is not available for preview">
          <span style="color: #2490ef;">
            {{ lesson.title }}
          </span>
          <i class="fa fa-lock ml-2"></i>
        </div>
        {% endif %}
        {% if show_progress and not course.is_mentor(frappe.session.user) and lesson.get_progress() %}
        <span class="ml-5 badge p-2 {{ lesson.get_slugified_class() }}"> {{ lesson.get_progress() }}</span>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
