<div class="batch">
  <div class="batch-details">
    <div class="">Session every {{batch.sessions_on}}</div>
    <div>{{frappe.utils.format_time(batch.start_time, "short")}} -
      {{frappe.utils.format_time(batch.end_time, "short")}}
    </div>
    <div>Starting {{frappe.utils.format_date(batch.start_date, "medium")}}</div>
    <div class="course-type" style="color: #888; padding: 10px 0px;">mentors</div>

    {% for m in course.get_mentors(batch.name) %}
    <div>
      {{ widgets.Avatar(member=m, avatar_class="avatar-medium" ) }}
      <span class="instructor-title">{{m.full_name}}</span>
    </div>
    {% endfor %}
  </div>
  {% if can_manage or can_join %}
  <div class="cta">
    <div class="">
      {% if can_manage %}
      <a href="/courses/{{ course.name }}/home?batch={{ batch.name }}" class="btn btn-primary manage-batch" data-batch="{{ batch.name | urlencode }}"
        data-course="{{ course.name | urlencode }}">Manage</a>
      {% elif can_join %}
      <button class="join-batch btn btn-secondary" data-batch="{{ batch.name | urlencode }}"
        data-course="{{ course.name | urlencode }}">Join this Batch</button>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
