{% set search_placeholder = frappe.db.get_single_value("LMS Settings", "search_placeholder") %}
{% set portal_course_creation = frappe.db.get_single_value("LMS Settings", "portal_course_creation") %}


<div class="modal fade search-modal" id="search-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <input class="search search-course" id="search-course" placeholder="{{ _(search_placeholder) or 'Search for courses' }}">
            </div>
        </div>
    </div>
</div>
<script> {% include "lms/templates/search_course/search_course.js" %} </script>
